{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    {% if user.is_anonymous %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-sm-12 index" align="center">
                <h1>Controle de Estoque</h1>
                <br>
                <h4>Você não estar logado</h4>
                <br><br>
                <a class="btn btn-primary" href="{% url 'login' %}">Fazer Login</a>
            </div>
        </div>
    </div>
    {% else %}
    <br>
    <div class="alert alert-primary" role="alert">
        seja bem vindo {{ user.first_name }}!
    </div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            </div>
            <div>
                <ul class="nav">
                    <li><a class="nav-item nav-link" href="{% url 'produto' %}">Cadastrar Produtos</a></li>
                    <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>

                </ul>
            </div>

        </nav>
        <br><br>
        <div>
            <h1>Controle de Estoque</h1>
        </div>
        <br><br>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for i in produtos %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td><a href="#modal{{i.id}}" data-toggle="modal">{{i.nome}}</a></td>
                    <td>{{i.preco}}</td>
                    <td>{{i.estoque}}</td>
                    <td>
                        <a class="btn btn-warning" data-toggle="modal" href="{% url 'upd_produto' i.id %}">Edit</a>
                        <a data-toggle="modal" class="btn btn-danger" href="{% url 'del_produto' pk=i.id %}">Del</a>
                    </td>
                </tr>

                <div id="modalExemplo" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade bdéxample-modal-lg show" id="modal{{i.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="dynamic-content">
                                <img src="{{ i.imagem.url }}" class="img-fluid" alt="{{i.nome}}">
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </tbody>
        </table>


        <nav aria-label="navegacao-paginacao">
            <ul class="pagination">

                <!-- botao anterios -->
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number}}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}

                <!-- centro -->
                {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="#">{{num}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                {% endif %}
                {% endfor %}

                <!-- next -->
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>


        {% if messages %}
        {%for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
        {%endfor%}
        {% endif %}
    </div>

    {% endif %}
</div>

{% endblock %}