{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

    {% if user.is_anonymous %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-lg-6  login" align="center">
                <h1>Controle de Estoque</h1>
                <h4>Você precisar estar logado</h4>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
    {% else %}
    <br>
    <div class="alert alert-primary" role="alert">
        seja bem vindo {{ user.get_full_name }}!
    </div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            </div>
            <div>
                <ul class="nav">
                    {% if user.is_staff %}
                    <li><a class="nav-item nav-link" href="{% url 'produto' %}">Produtos</a></li>
                    {% else %}
                    <li><a class="nav-item nav-link" href="#modal">Produtos</a></li>


                    <div id="#modal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>você não tem autorização pra acessar esta área!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                    <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>

                </ul>
            </div>

        </nav>
        <br><br>
        <div>
            <h1>Controle de Estoque</h1>
        </div>
        <br><br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {%for i in produtos %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td><a href="#modal{{i.id}}" data-toggle="modal">{{i.nome}}</a></td>
                    <td>{{i.preco}}</td>
                    <td>{{i.estoque}}</td>
                    <td><a href="{% url 'upd_produto' i.pk %}">Edit</a></td>
                </tr>

                <div class="modal fade bdéxample-modal-lg show" id="modal{{i.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="dynamic-content">
                                <img src="{{ i.imagem.url }}" class="img-fluid" alt="{{i.nome}}">
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </tbody>
        </table>
        {% comment %} {% if messages %}
        {%for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
        {%endfor%}
        {% endif %} {% endcomment %}
    </div>
    {% endif %}

</div>
{% endblock %}