{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<form method="post" class="form" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    <p>Tem certeza que deseja deletar o produto {{object}}.</p>
    {% if user.is_staff %}
    <button type="submit" class="btn btn-danger">Confirmar</button>
    {%else%}
    <b>
        <p style="color: red">você não tem permissao pra acessar esta área.</p>
    </b>
    {% endif %}
    <a type="buttom" class="btn btn-warning" href="{% url 'index' %}">Cancelar</a>

    {% endblock %}