{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <nav class="navbar navbar-default justify-content-end">
            <div class="nav">
                <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            </div>
        </nav>
        <br>
        <h1>Produto</h1>
        <br>

        <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_nome">Nome</label>
                <input type="text" name="nome" class="form-control" required id="id_nome" placeholder="Nome">
            </div>
            <br>
            <div class="form-group">
                <label for="id_preço">Preço</label>
                <input type="E-mail" name="preco" class="form-control" required id="id_preço" placeholder="Preço">
            </div>
            <br>
            <div class="form-group">
                <label for="id_estoque">Estoque</label>
                <input type="text" name="estoque" class="form-control" required id="id_estoque" placeholder="Estoque">
            </div>
            <br>
            <label class="btn btn-primary" for="my-file-selector">
                <input name="imagem" id="my-file-selector" type="file" style="display:none"
                    onchange="$('#upload-file-info').text(this.files[0].name)">
                upload image
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <br><br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            <br>
            {% comment %} {% if messages %}
            {%for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{message}}
            </div>
            {%endfor%}
            {% endif %} {% endcomment %}
        </form>

    </div>
{% endblock %}